{% extends "base.html" %}

{% block title %}SmartNinja Login{% endblock title %}
{% block content %}
    <h1>Here is where you login.</h1>

    {% if did_login_fail %}
        <div class="alert alert-danger" role="alert">
          Wrong email or password. Please try again.
        </div>
    {% endif %}

    <form method="post">
        <input name="email" type="email" placeholder="Email...">
        <input name="password" type="password" placeholder="Password...">
        <button>Submit</button>
    </form>
{% endblock content %}
